<mat-toolbar color="primary">
  SOAP Calculator app
  <span style="flex: 1 1 auto"></span>
  <button mat-button (click)="showDiagnostic = !showDiagnostic">
    <ng-container *ngIf="!showDiagnostic">Show Diagnostic</ng-container>
    <ng-container *ngIf="showDiagnostic">Hide Diagnostic</ng-container>
  </button>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading" color="accent"></mat-progress-bar>

<div style="display: flex; flex: 1 1 auto">
  <mat-card style="flex: 1">
    <mat-card-header>
      <mat-card-title>Operation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-input-container>
        <input matInput name="intA" [(ngModel)]="intA" placeholder="A">
      </mat-input-container>
      <mat-input-container>
        <input matInput name="intB" [(ngModel)]="intB" placeholder="B">
      </mat-input-container>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="sum()" [disabled]="loading">Sum</button>
      <button mat-raised-button color="primary" (click)="subtract()" [disabled]="loading">Sub</button>
    </mat-card-actions>
  </mat-card>
  <mat-card style="flex: 1">
    <mat-card-header>
      <mat-card-title>Result</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-input-container>
        <input matInput readonly [(ngModel)]="message" placeholder="{{resultLabel}}">
      </mat-input-container>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="showDiagnostic">
  <div style="display: flex; flex: 1 1 auto">
    <mat-card style="flex: 1">
      <mat-card-header>
        <mat-card-title>XML Response</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{ xmlResponse }}
      </mat-card-content>
    </mat-card>
    <mat-card style="flex: 1">
      <mat-card-header>
        <mat-card-title>JSON Response</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <pre>{{ jsonResponse | json }}</pre>
      </mat-card-content>
    </mat-card>
  </div>
</div>
