<md-toolbar color="primary">
  SOAP Calculator app
  <span style="flex: 1 1 auto"></span>
  <button md-button (click)="showDiagnostic = !showDiagnostic">
    <ng-container *ngIf="!showDiagnostic">Show Diagnostic</ng-container>
    <ng-container *ngIf="showDiagnostic">Hide Diagnostic</ng-container>
  </button>  
</md-toolbar>

<md-progress-bar mode="indeterminate" *ngIf="loading" color="accent"></md-progress-bar>

<div style="display: flex; flex: 1 1 auto">
  <md-card style="flex: 1">
    <md-card-header>
      <md-card-title>Operation</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container>
        <input mdInput name="intA" [(ngModel)]="intA" placeholder="A">
      </md-input-container>
      <md-input-container>
        <input mdInput name="intB" [(ngModel)]="intB" placeholder="B">
      </md-input-container>
    </md-card-content>

    <md-card-actions align="end">
      <button md-raised-button color="primary" (click)="sum()" [disabled]="loading">Sum</button>
      <button md-raised-button color="primary" (click)="subtract()" [disabled]="loading">Sub</button>
    </md-card-actions>
  </md-card>
  <md-card style="flex: 1">
    <md-card-header>
      <md-card-title>Result</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container>
        <input mdInput readonly value="{{message}}" placeholder="{{resultLabel}}">
      </md-input-container>
    </md-card-content>
  </md-card>
</div>

<div *ngIf="showDiagnostic">
  <div style="display: flex; flex: 1 1 auto">
    <md-card style="flex: 1">
      <md-card-header>
        <md-card-title>XML Response</md-card-title>
      </md-card-header>
      <md-card-content>
        {{ xmlResponse }}
      </md-card-content>
    </md-card>
    <md-card style="flex: 1">
      <md-card-header>
        <md-card-title>JSON Response</md-card-title>
      </md-card-header>
      <md-card-content>
        <pre>{{ jsonResponse | json }}</pre>
      </md-card-content>
    </md-card>
  </div>
</div>